<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>AutoGIF needs access to your microphone (not because we use it but a dependency that we rely on needs it)</string>
	<key>NSCameraUsageDescription</key>
	<string>AutoGIF needs access to your camera and screen</string>
</dict>
</plist>
